$color-primary: #e548f9;
$color-secondary: #8ef756;
$color-tertiary: #f4f72e;
$color-blue: rgba(2,200,255,.8);

$font-display: 'Megrim', Impact, sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {

  min-height: 100vh;
  font-family: $font-display;
  display: grid;
  grid-template-columns: 50vw 1fr;
  //grid-row-gap: 1rem;
  scroll-behavior: smooth;

  @media only screen and (max-width: 700px) {
  margin-left: 0;
  margin-right: 0;
    }
}

// HEADER //

.header {
  display: grid;
  grid-template-rows: repeat(2, 50vh);
  grid-area: 1 / 1 / -1 / -1;
  background-image: linear-gradient(rgba($color-primary, .4), rgba($color-secondary, .4)), url("../images/hero-min.jpg");
  overflow: hidden;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__hero {
    grid-area: 1 / 1 / -1 / 3;
    transform: skew(-25deg);
    margin-bottom: 4rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 92%;
    padding: 2rem;
    background: rgba(2,200,255,.6);
    box-shadow: 0 1rem 2rem black;

    @media only screen and (max-width: 700px) {
      text-align: center;
      margin-bottom: 4rem;
      box-shadow: none;
      transform: skew(0);
      width: 100%;
    }

    &--text {
      font-size: 8rem;

      @media only screen and (max-width: 700px) {
      font-size: 5rem;
      grid-area: 1 / 1 / -1 / -1;
      }
    }

    &--span {
      font-size: 10rem;
      background: linear-gradient(to right, $color-secondary, $color-primary, $color-tertiary);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;

      @media only screen and (max-width: 700px) {
      font-size: 7rem;
      }
    }
  }

  &__schedule {
    grid-area: 2 / 1 / 2 / 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    transform: skew(-25deg);
    width: 70%;
    padding: .5rem;
    position: relative;
    font-size: 5rem;
    background: rgba(2,200,255,.5);
    z-index: 1;
    box-shadow: 0 1rem 2rem black;

    @media only screen and (max-width: 700px) {
      width: 85%;
      font-size: 2.8rem;
      text-align: center;
      align-self: center;
      box-shadow: none;
      grid-area: 2 / 1 / 3 / 2;
    }
  }

  &__contact {
    grid-area: 2 / 2 / 2 / 2;
    align-self: center;
    transform: skew(-25deg);
    justify-self: center;
    text-align: center;
    width: 70%;
    padding: .5rem;
    position: relative;
    font-size: 5rem;
    background: rgba(2,200,255,.5);
    z-index: 1;
    box-shadow: 0 1rem 2rem black;

    @media only screen and (max-width: 700px) {
      width: 85%;
      font-size: 2.8rem;
      text-align: center;
      justify-self: center;
      box-shadow: none;
      grid-area: 2 / 2 / 3 / 2;
    }
  }

  &__contact:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: rgba(0,0,0,.6);;
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(.9,.12,.03,.98),
                box-shadow .5s;
    z-index: -1;
  }

  &__contact:hover::before {
    transform: scaleY(1);
    width: 100%;
    box-shadow: 2px 2px 2rem #e6e6e6;
  }

  &__schedule:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: rgba(0,0,0,.6);;
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(.9,.12,.03,.98),
                box-shadow .5s;
    z-index: -1;
  }

  &__schedule:hover::before {
    box-shadow: 2px 2px 2rem #e6e6e6;
    transform: scaleY(1);
    width: 100%;
  }
}

//// MODAL ////

#modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(1,1,1,.8);
  transform: translateX(-100%);
}

.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);

  align-self: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 60vw;
  height: 90vh;
  text-align: center;
  box-shadow: 0 2rem 3rem rgba(0,0,100,.5);

    @media only screen and (max-width: 700px) {
    width: 80vw;
  }

  &__image-container {
    grid-area: 1 / 1 / 7 / -1;
    background-image: linear-gradient(to right, rgba(139,54,88,.4), rgba(139,54,88,.4)), url("../images/modal.jpg");
    background-size: cover;
    background-position: top;
  }

  &__image {
    grid-area: 3 / 3 / 6 / 7;
    align-self: center;
    width: 100%;
  }

  &__title {
  grid-area: 4 / 3 / 5 / 7;
  font-family: "Megrim", cursive;
  align-self: center;
  color: white;
  transform: skew(-20deg);
  font-size: 5rem;
  box-shadow: 0 10px 15px black;
  background-color: rgba(240,10,10,.7);

      @media only screen and (max-width: 700px) {
      grid-column: 1 / -1;
      font-size: 2.5rem;
    }
  }

  &__about {
    grid-area: 7 / 1 / -1 / -1;
    display: block;
    font-weight: 150;
    font-size: 1.3rem;
    padding: 1.5rem;
    color: white;
    text-align: center;
    justify-self: center;
    align-self: center;

    @media only screen and (max-width: 700px) {
      font-size: 1.1rem;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
  }
}

.logo {
  position: fixed;
  margin: 0;
  background: white;
  position: fixed;
  left: 3.5rem;
  top: 1.8rem;
  font-size: 8rem;
  width: 8rem;
  z-index: 2;
  transition: width .5s, border-radius .5s, background .5s, border-color .5s;
  color: #e548f9;
  text-shadow: 3px 3px 25px;
  border: 2px solid #e548f9;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  cursor: pointer;
  box-shadow: 5px 5px 20px grey;
  //animation: pulse 2s infinite;

  @media only screen and (max-width: 700px) {
      font-size: 5rem;
      left: 2.5rem;
      top: 1.5rem;
      width: 5rem;
      padding-left: 4px;
      padding-right: 4px;
  }

  &:after {
    content: 'K';
    position: absolute;
    left: 0;
    top: 0;
    color: $color-secondary;
    z-index: -1;
    transition: all .6s;
    opacity: 0;
  }

  &:before {
    content: 'Z';
    position: absolute;
    left: 0;
    top: 0;
    color: $color-tertiary;
    z-index: -2;
    transition: all .6s;
    opacity: 0;
  }

  &:focus {
    animation: none;
  }

  &:hover {
    background: #1d1e22d6;
    width: 17rem;
    border-color: white;
    border-radius: 0%;

    @media only screen and (max-width: 700px) {
      width: 10.5rem;
    }
  }

  &:hover:after {
    left: 6rem;
    opacity: 1;
    transform: rotate(360deg);
    visibility: visible;

    @media only screen and (max-width: 700px) {
      left: 4rem;
    }
  }

  &:hover:before {
    left: 11rem;
    opacity: 1;
    transform: rotate(360deg);
    visibility: visible;

    @media only screen and (max-width: 700px) {
      left: 7rem;
    }
  }
}

//// SCHEDULE ////

.schedule {
  grid-area: 2 / 1 / 4 / -1;
  display: grid;
  perspective: 100rem;

  @media only screen and (max-width: 700px) {
      margin-top: 0;
    }

  &__header {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 3;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-tertiary);
    margin-bottom: -2rem;
    font-size: 6rem;
    height: 12rem;
    width: 100%;
    padding: 1rem;
    letter-spacing: 1rem;
    line-height: .9;
    color: white;

    @media only screen and (max-width: 700px) {
      font-size: 4rem;
      margin-bottom: 3rem;
      height: 8rem;
    }
  }

  &__card {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: grid;
    grid-area: 3 / 1 / 5 / 2;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    justify-content: center;
    background-color: white;
    margin-left: 3rem;
    font-size: 2.8rem;
    font-style: italic;
    padding: 3rem;
    box-shadow: 0 1rem 2rem grey;
    transition: all .3s ease-out;

    @media only screen and (max-width: 700px) {
      box-shadow: 0 .2rem 1.5rem .5rem grey;
      grid-area: 3 / 1 / 4 / 3;
      margin-left: 0;
      padding: 1rem;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      padding: 1rem;
    }

    &--image {
     width: 7rem;
     height: 7rem;
    
      @media only screen and (max-width: 700px) {
        width: 5rem;
        height: 5rem;
      }
    }

    &--text {
      font-family: Arial, Helvetica, sans-serif;
      align-self: center;
      justify-self: center;
      padding: 1rem;

      @media only screen and (max-width: 700px) {
        font-size: 1.5rem;
        padding: .5rem;
      }
    }
  }

  &__image {
  grid-area: 3 / 2 / 5 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  transition: all .2s ease-out;
  justify-self: center;

  @media only screen and (min-width: 1500px) {
    height: auto;
  }

  @media only screen and (max-width: 700px) {
    display: none;
      /*grid-area: 3 / 1 / 4 / 3;
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      opacity: .1;
      height: 100%;*/
  }

  }
}

.schedule:hover .schedule__image {
  transform: translateX(-1.5rem);

  @media only screen and (max-width: 700px) {
    transform: translateX(0);
  }
  @media only screen and (min-width: 1400px) {
    transform: translateX(-3rem);
  }
}

.schedule:hover .schedule__card {
  transform: rotateY(6deg) rotateZ(-2deg) translateX(1rem);

  @media only screen and (max-width: 700px) {
    transform: none;
    opacity: .9;
  }
}

//// GALLERY ////
.gallery-header {
  display: grid;
  grid-area: 4 / 1 / 5 / 3;
  background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-tertiary);
  margin-top: -3rem;
  font-size: 6rem;
  height: 12rem;
  width: 100%;
  padding: 2rem;
  align-content: end;
  justify-content: center;
  letter-spacing: 1rem;
  line-height: .9;
  color: white;

  @media only screen and (max-width: 700px) {
      font-size: 4rem;
      margin-top: 2rem;
      height: 8rem;
    }
}

.gallery {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 6vw);
  grid-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  overflow: hidden;

  &__item {

    &:hover > * {
      cursor: pointer;
    }

    & > * {
      transition: opacity 300ms ease-in-out;
    }

    &--1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    &--2 {
      grid-area: 1 / 3 / 4 / 6;
    }
    &--3 {
      grid-area: 1 / 6 / 3 / 7;
    }
    &--4 {
      grid-area: 1 / 7 / 3 / 9;
    }
    &--5 {
      grid-area: 3 / 1 / 6 / 3;
    }
    &--6 {
    }
      grid-area: 4 / 3 / 8 / 5;
    &--7 {
      grid-area: 4 / 5 / 5 / 6;
    }
    &--8 {
      grid-area: 3 / 6 / 5 / 8;
    }
    &--9 {
      grid-area: 3 / 8 / 8 / 9;
    }
    &--10 {
      grid-area: 6 / 1 / 8 / 2;
    }
    &--12 {
      grid-area: 6 / 2 / 8 / 3;
    }
    &--13 {
      grid-area: 5 / 5 / 8 / 8;
    }

  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

//// FOOTER ////

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column: 1 / 3;
  background: black;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  transition: .2s linear;
  perspective: 100rem;

  &__eq-bars {
    width: 5rem;
    height: 5rem;
    align-self: center;

    @media only screen and (max-width: 700px) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__email {
    grid-column: 1 / 5;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem;
    margin-top: 1.8rem;
    font-size: 4rem;
    color: white;
    align-self: start;
    justify-self: center;
    background-color: #ff53e1;
    transition: .2s linear;

    @media only screen and (max-width: 700px) {
      font-size: 2rem;
    }

    &:hover {
      box-shadow: .3rem .6rem 1.2rem grey;
      background-color: $color-secondary;
      transform: rotateY(10deg) rotateX(10deg);
    }
  }

  &__social {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    @media only screen and (max-width: 700px) {
        margin-top: .5rem;
      }

    &--facebook {
      padding: 1rem;
      width: 8rem;
      height: 8rem;
      fill: blue;
      transition: .2s linear;

      @media only screen and (max-width: 700px) {
        width: 6rem;
        height: 6rem;
      }

      &:hover {
        transform: rotate(-15deg) scale(1.1);
      }
    }

    &--instagram {
      padding: 1rem;
      width: 8rem;
      height: 8rem;
      fill: red;
      transition: .2s linear;

      @media only screen and (max-width: 700px) {
        width: 6rem;
        height: 6rem;
      }

      &:hover {
        transform: rotate(15deg) scale(1.1);
      }
    }
  }

  &__text {
    font-family: Impact, sans-serif;
    color: white;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    margin: .5rem;
  }
}

//// HELPERS ////

.anchor-text {
    position: relative;
    text-decoration: none;

    background: linear-gradient(to right, $color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Animations */

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-70rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// JS applied styles //
.view-center {
  grid-area: 1 / 2 / 8 / 8;
  z-index: 99;
}